{% extends "base.html" %}
{%block title %}Réception{%endblock%}

    {%block content %} 
    <h3>retirer une zone</h3>
    <div class="row">
        <div class="col-lg-6">
    <form method="post" action="">
        {% csrf_token %}
        
        {{form.as_p}}
        <div class="row" >
            <div class="col">
            {% if object %}
                <a class="btn btn-secondary" href=" {% url 'receptions' %} " role="button">Annuler</a>
            {%else%}
                <a class="btn btn-secondary" href=" {% url 'receptions' %} " role="button">Annuler</a>
            {%endif%}
            </div>

            <div class="col">
                <input class="btn btn-primary" type="submit" value="Valider">
            </div>
        </div>
    </form>
        </div>
    </div>




{%endblock%}